[submodule "themes/PaperMod"]
	path = themes/PaperMod
	url = https://github.com/datavistics/hugo-PaperMod.git
[submodule "themes/hugo-notice"]
	path = themes/hugo-notice
	url = https://github.com/martignoni/hugo-notice.git
